<% content_for :header do %>
  <h1>Dashboard</h1>
     <div class='row'>
      <div class="span4"></div>
      <% if current_customer.is_profile_complete? %>
        <div class="span3" style="font-size:17px;">Profile Completeness(<%= current_customer.profile_complete_in_per %>%)</div>
        <div class="span2">
          <div class="progress progress-success">
            <div class="bar" style="width: <%= current_customer.profile_complete_in_per %>%;"></div>
          </div>
        </div>
      <% else %>
        <div class="span3 profile_box_completeness">Profile Completeness(<%= current_customer.profile_complete_in_per %>%)</div>
        <div class="span3 profile_box">
          <div class="span2">
            <span style="font-size:12px;">
              <%= link_to "Complete Your Profile", edit_customer_registration_path %>
            </span>
          </div>
          <div class="span2" style="width: 210px;">
            <div class="progress progress-success progress_bar_completeness">
              <div class="bar" style="width: <%= current_customer.profile_complete_in_per %>%;"></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
<% end %>

<% content_for :breadcrumb do %>
  <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> Home</a>
  <a href="#" class="current">Dashboard</a>
<% end %>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <div class="widget-box">
        <div class="widget-title">
          <span class="icon"><i class="icon-file"></i></span>
          <h5>Recent Posts</h5>
          <span title="54 total posts" class="label label-info tip-left">54</span>
        </div>
    </div>
  </div>
  <div class="span6">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon"><i class="icon-comment"></i></span>
        <h5>Recent Comments</h5>
        <span title="88 total comments" class="label label-info tip-left">88</span>
      </div>
    </div>
  </div>
</div>

<div class="row-fluid">
  <div id="footer" class="span12">
    @2013 &copy; Rachel
  </div>
</div>
